.postcard {
    margin: 1.5rem;
    padding: 1rem;
    border: .1rem solid #ddd;
}

.post-title {
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;
}

.post-content {
    display: block;
    font-size: medium;
    color: #666;
}